@import '~reset-css';

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: Arial, sans-serif;
  height: 100%;
}

body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 760px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}