//Colors
$white: #fff;
$black: #000;
$dark: #333333;
$red: #f44336;
$grey-100: #f2f2f2;
$grey-600: #808080;
$green: #3cb305;
$blue-100: #f2fbff;
$blue-500: #30b6ee;
$blue-900: #005da1;
$yellow-100: #fffbc8;
$yellow-600: #fdd639;

//Media query
$xs: 568px;
$xxs: 480px;
$exsm: 375px;