.user {
  &_service {
    max-width: 320px;
    margin-left: auto;
    font-size: 13px;
    margin-bottom: 30px;
    color: $dark;

    @media (max-width: $xs) {
      max-width: 100%;
    }

    &__title {
      line-height: 1.15;
      margin-bottom: 8px;

      &--right {
        text-align: right;
        padding-right: 20px;
      }
    }

    &__list {
      padding: 15px 0;
      margin-bottom: 15px;
      position: relative;
      border: solid  rgba($black, 0.2);
      border-width: 1px 0;

      &:before {
        position: absolute;
        content: '';
        top: auto;
        left: 0;
        z-index: 1;
        width: 1px;
        height: calc(100% - 32px);
        background-color: rgba($dark, 0.4);
      }
    }

    &__list__item {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 2px;

      &:first-child {
        .user_service__list__item__title__bg {
          background-color: $green;
        }
      }
    }

    &__list__item__title {
      position: relative;
      max-width: 70%;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 6px;

      &__bg {
        background-color: $blue-500;
        position: absolute;
        top: 0;
        left: 0;
        width: 1%;
        height: 100%;
        z-index: -1;
        border-radius: 0 4px 4px 0;
      }
    }

    &__list__item__value {
      text-align: right;
      flex-basis: 20%;
      font-weight: bold;
    }

    &__total {
      display: flex;
      margin-top: 15px;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.25;

      &__title {
        max-width: 70%;
        width: 100%;
        padding-right: 12px;
      }
    }
  }
}